:root {
--BL1: #F2F7F8;
--BL2: #B0D0D9;
--BL3: #3D63C1;
--GR1: #EAEBEB;
--BG1: #FCF3EA;
--PN1: #F27EAC;
--PN2: #FB3E74;
--OG1: #FD703A;
--OG2: #FD7E4E;
--YE1: #FFCB4A;
--YE2: #FFB727;
--GRN1: #80C88E;
--GRN1: #107839;
--text: #1B1A19;
--text2: #525760;
--text3: #80858E;
--text4: #D9D9D9;
--back: #FFFFFF;
--GRAY_IMG: #F1F1F1;
}