<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHUTES & LADDERS - дизайн система</title>
    <link rel="stylesheet" href="../../css/global/global.css">
    <link rel="stylesheet" href="../../css/header/header.css">
    <link rel="stylesheet" href="../../css/sidebar/sidebar.css">
    <link rel="stylesheet" href="../../css/footer/footer.css">
    <link rel="shortcut icon" href="/images/fav.png" type="image/x-icon">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar__left">
                <ul>
                    <li>
                        <a href="/index.html">
                            <img src="../../images/sidebar/Стартер.svg" alt="">
                            <span>Стартер</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/aboutC&L.html">
                            <img src="../../images/sidebar/О CL.svg" alt="">
                            <span>O C&L</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/RuleBook.html">
                            <img src="../../images/sidebar/Rulebook.svg" alt="">
                            <span>Книга правил</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/decoration/review.html">
                            <img src="../../images/sidebar/Vector.svg" alt="">
                            <span>Оформление</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="active">
                            <img src="../../images/sidebar/Components.svg" alt="">
                            <span>Компоненты</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/authors.html">
                            <img src="../../images/sidebar/Authors.svg" alt="">
                            <span>Авторы игры</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="sidebar__right">
                <ul>
                    <li>Сhutes & Ladders</li>
                    <li><a href="/components/components/review.html">Обзор</a></li>
                    <li><a href="/components/components/avatar.html">Аватар</a></li>
                    <li><a href="/components/components/accordion.html">Аккордеон</a></li>
                    <li><a href="/components/components/dropList.html">Выпадающие списки</a></li>
                    <li><a href="/components/components/cards.html">Карточки</a></li>
                    <li><a href="/components/components/carousel.html">Карусель</a></li>
                    <li><a href="/components/components/buttons.html" class="active">Кнопки</a></li>
                    <li><a href="/components/components/navigation.html">Навигация</a></li>
                    <li><a href="/components/components/switch.html">Переключатель</a></li>
                    <li><a href="/components/components/input.html">Поля ввода</a></li>
                    <li><a href="/components/components/radio.html">Радиокнопка</a></li>
                    <li><a href="/components/components/slider.html">Слайдеры</a></li>
                    <li><a href="/components/components/stepper.html">Степпер</a></li>
                    <li><a href="/components/components/search.html">Строка поиска</a></li>
                    <li><a href="/components/components/checkbox.html">Чекбокс</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <main>
                <div class="main__content">
                    <div class="text__block text__block_h1">
                        <h1>Кнопки</h1>
                        <span>Кнопка используется для запуска действия или в качестве навигационной ссылки. Текст на
                            кнопке указывает на то, какое действие произойдет после нажатия. Текст начинается всегда с
                            заглавной буквы и в конце знаки пунктуации не используются.</span>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Форма кнопок</h2>
                        <span>Кнопки могут иметь две формы — прямоугольник с закругленными углами и таблетка. Для
                            карточек рекомендуется использовать форму прямоугольника, для табов — форму таблетки. В
                            остальном, вне зависимости от контекста, позволяется применять любую из двух форм. </span>
                        <div class="text__block text__block_h3">
                            <div class="cards cards__tiny">
                                <div class="card card__tiny card__tiny_auto">
                                    <img src="/images/buttons/Button-form1.png" alt="">
                                </div>
                                <div class="card card__tiny card__tiny_auto">
                                    <img src="/images/buttons/Button-form2.png" alt="">
                                </div>
                            </div>
                            <div class="cards cards__tiny">
                                <div class="card card__tiny card__tiny_text">
                                    <p>Прямоугольник</p>
                                </div>
                                <div class="card card__tiny card__tiny_text">
                                    <p>Таблетка</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Типы кнопок</h2>
                        <span>Кнопки делятся на шесть различных типов в зависимости от функциональности и контекста их
                            использования: основная (primary), второстепенная (secondary), текст с иконкой.
                            кнопка-иконка, кнопка со статусом и выпадающая (dropdown) кнопка.</span>
                        <div class="text__block text__block_h3">
                            <h3>Основная (Primary) кнопка</h3>
                            <ul class="list_stylish">
                                <li>Используется для выделения основного действия, например таких действий как: "Купить"
                                    или
                                    "Добавить в корзину".</li>
                                <li>Самая заметная кнопка в интерфейсе страницы, привлекает внимание с целью призыва к
                                    ключевому действия на странице.</li>
                                <li>Имеет контрастные и яркие цвета.</li>
                                <li>Обозначает стартовое, главное действие, продолжение шага последовательного сценария
                                    или завершение работы с формой.</li>
                            </ul>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Основная (Primary) кнопка</h3>
                            <ul class="list_stylish">
                                <li>Используется для менее важных, но всё еще значимых действий.</li>
                                <li>Имеет менее яркий цвет или контур.</li>
                                <li>Могут использоваться для навигации по странице (кроме действия: “Отмена”,
                                    “Сбросить”, «Вернуться назад» и тд.), направляя пользователя к другой странице.
                                </li>
                            </ul>
                        </div>
                        <div class="cards">
                            <div class="card card__extraBig">
                                <img src="/images/buttons/Secondary.png" alt="">
                            </div>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Кнопка текст с иконкой</h3>
                            <ul class="list_stylish">
                                <li>Кнопка, которая содержит текст и иконку, расположенную справа или слева от текста.
                                    Иконка добавляет визуальный контекст.</li>
                                <li>Может быть использована для сжатия информации.</li>
                            </ul>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Кнопка-иконка</h3>
                            <ul class="list_stylish">
                                <li>Используется для целевых и не основных действий и / или выполняет функцию вызова
                                    меню действий.</li>
                                <li>Применяется в случаях ограниченности пространства, помогая экономить место в
                                    интерфейсах.</li>
                            </ul>
                        </div>
                        <div class="cards">
                            <div class="card card__extraBig">
                                <img src="/images/buttons/Button-icon.png" alt="">
                            </div>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Кнопка переключения</h3>
                            <span>Может использоваться для указания на текущий процесс, а также на состояние компонента
                                при взаимодействии с ним.</span>
                            <div class="cards">
                                <div class="card card__extraBig">
                                    <img src="/images/buttons/Button-switch.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Выпадающая (Dropdown) кнопка</h3>
                            <span>Позволяет выбирать из нескольких вариантов и может содержать дополнительные
                                параметры.</span>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Варианты размера</h2>
                        <span>Кнопки могут иметь различные размеры в зависимости от их важности. Например, крупные
                            кнопки для основных действий и мелкие для дополнительных.</span>
                        <div class="text__block text__block_h3">
                            <h3>Маленькие кнопки (Small):</h3>
                            <span>Маленькие кнопки редназначены для вспомогательных и менее важных действий, чтобы не
                                занимать много места на экране и не привлекать избыточное внимание. Располагаются близко
                                к объекту взаимодействия.</span>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Стандартные кнопки (Medium):</h3>
                            <span>Стандартные кнопки используются для основных действий, таких как "Добавить в корзину"
                                или "Подробнее". Наиболее распространенный размер.</span>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Крупные кнопки (Large):</h3>
                            <span>Крупные кнопки применяются для ключевых действий, которые хочется выделить, например,
                                "Купить сейчас" или "Оформить заказ".</span>
                        </div>
                        <div class="cards">
                            <div class="card card__extraBig">
                                <img src="/images/buttons/Button-size.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="rightSidebar">
                    <ul>
                        <li>Содержание</li>
                        <li>Форма кнопок</li>
                        <li>Типы кнопок</li>
                        <li>Варианты размера</li>
                    </ul>
                </div>
            </main>
            <footer>
                <a href="/components/components/carousel.html" class="previous">Карусель</a>
                <a href="/components/components/navigation.html" class="next">Навигация</a>
            </footer>
        </div>

    </div>
</body>

</html>