<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHUTES & LADDERS - дизайн система</title>
    <link rel="stylesheet" href="../../css/global/global.css">
    <link rel="stylesheet" href="../../css/header/header.css">
    <link rel="stylesheet" href="../../css/sidebar/sidebar.css">
    <link rel="stylesheet" href="../../css/footer/footer.css">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar__left">
                <ul>
                    <li>
                        <a href="/index.html">
                            <img src="../../images/sidebar/Стартер.svg" alt="">
                            <span>Стартер</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/aboutC&L.html">
                            <img src="../../images/sidebar/О CL.svg" alt="">
                            <span>O C&L</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/RuleBook.html">
                            <img src="../../images/sidebar/Rulebook.svg" alt="">
                            <span>Книга правил</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/decoration/review.html">
                            <img src="../../images/sidebar/Vector.svg" alt="">
                            <span>Оформление</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/components/review.html" class="active">
                            <img src="../../images/sidebar/Components.svg" alt="">
                            <span>Компоненты</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../../images/sidebar/Authors.svg" alt="">
                            <span>Авторы игры</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="sidebar__right">
                <ul>
                    <li>Сhutes & Ladders</li>
                    <li><a href="/components/components/review.html">Обзор</a></li>
                    <li><a href="/components/components/avatar.html">Аватар</a></li>
                    <li><a href="/components/components/accordion.html">Аккордеон</a></li>
                    <li><a href="/components/components/dropList.html">Выпадающие списки</a></li>
                    <li><a href="/components/components/cards.html" class="active">Карточки</a></li>
                    <li><a href="/components/components/carousel.html">Карусель</a></li>
                    <li><a href="">Кнопки</a></li>
                    <li><a href="">Навигация</a></li>
                    <li><a href="">Переключатель</a></li>
                    <li><a href="">Поля ввода</a></li>
                    <li><a href="">Радиокнопка</a></li>
                    <li><a href="">Слайдеры</a></li>
                    <li><a href="">Степпер</a></li>
                    <li><a href="">Строка поиска</a></li>
                    <li><a href="">Чекбокс</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <main>
                <div class="main__content">
                    <div class="text__block text__block_h1">
                        <h1>Карточки</h1>
                        <span>Карточка представляет собой контейнер, содержащий информацию и действия, связанные с одним
                            понятием или объектом, например документом или контактом.
                            <br>
                            <br>
                            Карточки дают пользователю информацию как в визуальном, так и в текстовом виде; внешний их
                            вид вариативен в зависимости от ситуации для которой они применяются. Использовать их
                            необходимо последовательно, определенные типы карточек для конкретных случаев.</span>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Анатомия</h2>
                        <span>Текст</span>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Параметры</h2>
                        <span>Текст</span>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Руководство</h2>
                        <span>Текст</span>
                    </div>
                </div>

                <div class="rightSidebar">
                    <ul>
                        <li>Содержание</li>
                        <li>Анатомия</li>
                        <li>Параметры</li>
                        <li>Руководство</li>
                    </ul>
                </div>
            </main>
            <footer>
                <a href="/components/components/dropList.html" class="previous">Выпадающие списки</a>
                <a href="/components/components/carousel.html" class="next">Карусель</a>
            </footer>
        </div>

    </div>
</body>

</html>