<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHUTES & LADDERS - дизайн система</title>
    <link rel="stylesheet" href="../../css/global/global.css">
    <link rel="stylesheet" href="../../css/header/header.css">
    <link rel="stylesheet" href="../../css/sidebar/sidebar.css">
    <link rel="stylesheet" href="../../css/footer/footer.css">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar__left">
                <ul>
                    <li>
                        <a href="/index.html">
                            <img src="../../images/sidebar/Стартер.svg" alt="">
                            <span>Стартер</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/aboutC&L.html">
                            <img src="../../images/sidebar/О CL.svg" alt="">
                            <span>O C&L</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/RuleBook.html">
                            <img src="../../images/sidebar/Rulebook.svg" alt="">
                            <span>Книга правил</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/decoration/review.html">
                            <img src="../../images/sidebar/Vector.svg" alt="">
                            <span>Оформление</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/components/review.html" class="active">
                            <img src="../../images/sidebar/Components.svg" alt="">
                            <span>Компоненты</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/authors.html">
                            <img src="../../images/sidebar/Authors.svg" alt="">
                            <span>Авторы игры</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="sidebar__right">
                <ul>
                    <li>Сhutes & Ladders</li>
                    <li><a href="/components/components/review.html">Обзор</a></li>
                    <li><a href="/components/components/avatar.html">Аватар</a></li>
                    <li><a href="/components/components/accordion.html">Аккордеон</a></li>
                    <li><a href="/components/components/dropList.html">Выпадающие списки</a></li>
                    <li><a href="/components/components/cards.html">Карточки</a></li>
                    <li><a href="/components/components/carousel.html">Карусель</a></li>
                    <li><a href="/components/components/buttons.html">Кнопки</a></li>
                    <li><a href="/components/components/navigation.html">Навигация</a></li>
                    <li><a href="/components/components/switch.html">Переключатель</a></li>
                    <li><a href="/components/components/input.html">Поля ввода</a></li>
                    <li><a href="/components/components/radio.html">Радиокнопка</a></li>
                    <li><a href="/components/components/slider.html">Слайдеры</a></li>
                    <li><a href="/components/components/stepper.html">Степпер</a></li>
                    <li><a href="/components/components/search.html">Строка поиска</a></li>
                    <li><a href="/components/components/checkbox.html" class="active">Чекбокс</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <main>
                <div class="main__content">
                    <div class="text__block text__block_h1">
                        <div class="text__block text__block_h2">
                            <h1>Чекбокс</h1>
                            <span>Чекбокс позволяет пользователю выбирать несколько вариантов из группы, включать или
                                выключать один параметр.
                            </span>
                            <div class="text__block text__block_h3">
                                <div class="cards cards__tiny">
                                    <div class="card card__tiny card__tiny_auto">
                                        <img src="/images/checkbox/Checkbox1.png" alt="">
                                    </div>
                                    <div class="card card__tiny card__tiny_auto">
                                        <img src="/images/checkbox/Checkbox2.png" alt="">
                                    </div>
                                </div>
                                <div class="cards cards__tiny">
                                    <div class="card card__tiny card__tiny_text">
                                        <p>Одиночный чекбокс</p>
                                        <span>Одиночный чекбокс используется, в случае выбора по типу “да” или
                                            “нет”.</span>
                                    </div>
                                    <div class="card card__tiny card__tiny_text">
                                        <p>Групповой чекбокс</p>
                                        <span>Используется при необходимости выбрать несколько вариантов, но не более
                                            семи
                                            опций. Если больше, лучше разделить их на отдельные группы или использовать
                                            раскрывающийся список.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Анатомия</h2>
                        <span>Если один чекбокс может управлять подмножеством параметров, установка или снятие
                            родительского чекбокса выбирает или снимает галочку со всех дочерних элементов.
                            <br>
                            <br>
                            Неопределенное состояние используется для показа того, что выбраны некоторые, но не все
                            параметры второстепенных чекбоксов.
                            <br>
                            <br>
                            Важно обеспечить понятность и логическую связь между элементами — главными, второстепенными
                            и дочерними элементами. Можно использовать отступы, цвета или другие визуальные индикаторы,
                            чтобы показать иерархию и связи между элементами.
                            <br>
                            <br>
                            При необходимости к группе чекбоксов нужно добавить общий заголовок, который располагается
                            сверху.
                        </span>
                        <div class="text__block text__block_h3">
                            <div class="cards cards__tiny">
                                <div class="card card__tiny card__tiny_auto">
                                    <img src="/images/checkbox/Anatomy1.png" alt="">
                                </div>
                                <div class="card card__tiny card__tiny_auto">
                                    <img src="/images/checkbox/Anatomy2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Руководство</h2>
                        <span>Для текста подписи чекбокса важно использовать краткие и понятные формулировки. Если
                            чекбокс управляет параметром используйте текст, который подразумевает два противоположных
                            состояния.
                            <br>
                            <br>
                            Также для текста лучше используйте положительные формулировки.
                            <br>
                            <br>
                            Подпись располагается справа от чекбокса. Начинается текст с заглавной буквы, знаки
                            препинания в конце не ставятся.
                            <br>
                            <br>
                            Перечисляйте параметры в логическом порядке.
                        </span>
                        <div class="text__block text__block_h3">
                            <div class="cards cards__tiny">
                                <div class="card card__tiny card__tiny_auto">
                                    <img src="/images/checkbox/Guide1.png" alt="">
                                </div>
                                <div class="card card__tiny card__tiny_auto">
                                    <img src="/images/checkbox/Guide2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="rightSidebar">
                    <ul>
                        <li>Содержание</li>
                        <li>Анатомия</li>
                        <li>Руководство</li>
                    </ul>
                </div>
            </main>
            <footer>
                <a href="/components/components/search.html" class="previous">Строка поиска</a>
                <a href="/components/authors.html" class="next">Авторы игры</a>
            </footer>
        </div>

    </div>
</body>

</html>