<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHUTES & LADDERS - дизайн система</title>
    <link rel="stylesheet" href="../../css/global/global.css">
    <link rel="stylesheet" href="../../css/header/header.css">
    <link rel="stylesheet" href="../../css/sidebar/sidebar.css">
    <link rel="stylesheet" href="../../css/footer/footer.css">
    <link rel="shortcut icon" href="/images/fav.png" type="image/x-icon">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar__left">
                <ul>
                    <li>
                        <a href="/index.html">
                            <img src="../../images/sidebar/Стартер.svg" alt="">
                            <span>Стартер</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/aboutC&L.html">
                            <img src="../../images/sidebar/О CL.svg" alt="">
                            <span>O C&L</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/RuleBook.html">
                            <img src="../../images/sidebar/Rulebook.svg" alt="">
                            <span>Книга правил</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/decoration/review.html">
                            <img src="../../images/sidebar/Vector.svg" alt="">
                            <span>Оформление</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="active">
                            <img src="../../images/sidebar/Components.svg" alt="">
                            <span>Компоненты</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/authors.html">
                            <img src="../../images/sidebar/Authors.svg" alt="">
                            <span>Авторы игры</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="sidebar__right">
                <ul>
                    <li>Сhutes & Ladders</li>
                    <li><a href="/components/components/review.html">Обзор</a></li>
                    <li><a href="/components/components/avatar.html">Аватар</a></li>
                    <li><a href="/components/components/accordion.html">Аккордеон</a></li>
                    <li><a href="/components/components/dropList.html">Выпадающие списки</a></li>
                    <li><a href="/components/components/cards.html">Карточки</a></li>
                    <li><a href="/components/components/carousel.html">Карусель</a></li>
                    <li><a href="/components/components/buttons.html">Кнопки</a></li>
                    <li><a href="/components/components/navigation.html">Навигация</a></li>
                    <li><a href="/components/components/switch.html">Переключатель</a></li>
                    <li><a href="/components/components/input.html" class="active">Поля ввода</a></li>
                    <li><a href="/components/components/radio.html">Радиокнопка</a></li>
                    <li><a href="/components/components/slider.html">Слайдеры</a></li>
                    <li><a href="/components/components/stepper.html">Степпер</a></li>
                    <li><a href="/components/components/search.html">Строка поиска</a></li>
                    <li><a href="/components/components/checkbox.html">Чекбокс</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <main>
                <div class="main__content">
                    <div class="text__block text__block_h1">
                        <h1>Поля ввода</h1>
                        <span>Позволяют пользователям вводить текстовые данные в произвольной форме, как длинные, так и
                            короткие тексты. Поля ввода нужно использовать, когда нет возможности предложить готовый
                            список для выбора.
                            <br>
                            <br>
                            Тип используемого текстового поля должен отражать длину контента, который будет в него
                            вводить пользователь. Текстовые области в основном используются в формах и диалогах. Высота
                            текстовой области автоматически увеличивается при вводе текста.
                        </span>
                        <div class="text__block text__block_h3">
                            <div class="cards cards__tiny">
                                <div class="card card__tiny card__tiny_auto">
                                    <img src="/images/input/Area1.png" alt="">
                                </div>
                                <div class="card card__tiny card__tiny_auto">
                                    <img src="/images/input/Area2.png" alt="">
                                </div>
                            </div>
                            <div class="cards cards__tiny">
                                <div class="card card__tiny card__tiny_text">
                                    <p>Одиночное текстовое поле</p>
                                    <span>Используется для короткого однострочного содержимого.</span>
                                </div>
                                <div class="card card__tiny card__tiny_text">
                                    <p>Текстовая область</p>
                                    <span>Используется для более длинных многострочных записей.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Параметры</h2>
                        <span>Размер поля может подсказать пользователю в какой форме предоставлять данные. Стандартная
                            высота полей ввода - 48px, использутся в большинстве случаев.</span>
                        <div class="cards">
                            <div class="card card__extraBig">
                                <img src="/images/input/Parameters.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Поведение</h2>
                        <div class="text__block text__block_h3">
                            <h3>Вспомогательный текст</h3>
                            <span>Пояснительный текст дает больше информации и контекста о вводимых данных. Он находится
                                под полем и помогает пользователям правильно его заполнять. Часто в данном тексте
                                прописывается объяснение требований к полю или пример правильного заполнения.</span>
                        </div>
                        <div class="cards">
                            <div class="card card__extraBig">
                                <img src="/images/input/Hint.png" alt="">
                            </div>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Проверка заполнения</h3>
                            <span>В поля встроены комментарии для поддержки обратной связи при вводе данных. Состояния
                                проверки визуально изменяет поле ввода, например, при ошибке появляется соответсвующая
                                надпись и цвет поля. Также помимо отрицательных есть подтверждающие сообщения.</span>
                        </div>
                        <div class="cards">
                            <div class="card card__extraBig">
                                <img src="/images/input/Check.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Руководство</h2>
                        <span>Надписи должны кратко и ясно выражать информацию, которую нужнно ввести пользователю.
                            Лучше избегать длинных предложений и не использовать глаголы в повелительном наклонении.
                            Название в поле должно быть видно полностью, после него никаких знаков препинания ставить не
                            нужно.</span>
                        <div class="cards cards__tiny">
                            <div class="card card__tiny card__tiny_auto">
                                <img src="/images/input/Guide1.png" alt="">
                            </div>
                            <div class="card card__tiny card__tiny_auto">
                                <img src="/images/input/Guide2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="rightSidebar">
                    <ul>
                        <li>Содержание</li>
                        <li>Параметры</li>
                        <li>Поведение</li>
                        <li>Руководство</li>
                    </ul>
                </div>
            </main>
            <footer>
                <a href="/components/components/switch.html" class="previous">Переключатель</a>
                <a href="/components/components/radio.html" class="next">Радиокнопка</a>
            </footer>
        </div>

    </div>
</body>

</html>