<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHUTES & LADDERS - дизайн система</title>
    <link rel="stylesheet" href="../../css/global/global.css">
    <link rel="stylesheet" href="../../css/header/header.css">
    <link rel="stylesheet" href="../../css/sidebar/sidebar.css">
    <link rel="stylesheet" href="../../css/footer/footer.css">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar__left">
                <ul>
                    <li>
                        <a href="/index.html">
                            <img src="../../images/sidebar/Стартер.svg" alt="">
                            <span>Стартер</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/aboutC&L.html">
                            <img src="../../images/sidebar/О CL.svg" alt="">
                            <span>O C&L</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/RuleBook.html">
                            <img src="../../images/sidebar/Rulebook.svg" alt="">
                            <span>Книга правил</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/decoration/review.html">
                            <img src="../../images/sidebar/Vector.svg" alt="">
                            <span>Оформление</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/components/review.html" class="active">
                            <img src="../../images/sidebar/Components.svg" alt="">
                            <span>Компоненты</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../../images/sidebar/Authors.svg" alt="">
                            <span>Авторы игры</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="sidebar__right">
                <ul>
                    <li>Сhutes & Ladders</li>
                    <li><a href="/components/components/review.html">Обзор</a></li>
                    <li><a href="/components/components/avatar.html">Аватар</a></li>
                    <li><a href="/components/components/accordion.html">Аккордеон</a></li>
                    <li><a href="/components/components/dropList.html">Выпадающие списки</a></li>
                    <li><a href="/components/components/cards.html">Карточки</a></li>
                    <li><a href="/components/components/carousel.html">Карусель</a></li>
                    <li><a href="/components/components/buttons.html">Кнопки</a></li>
                    <li><a href="/components/components/navigation.html">Навигация</a></li>
                    <li><a href="/components/components/switch.html">Переключатель</a></li>
                    <li><a href="/components/components/input.html">Поля ввода</a></li>
                    <li><a href="/components/components/radio.html" class="active">Радиокнопка</a></li>
                    <li><a href="">Слайдеры</a></li>
                    <li><a href="">Степпер</a></li>
                    <li><a href="">Строка поиска</a></li>
                    <li><a href="">Чекбокс</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <main>
                <div class="main__content">
                    <div class="text__block text__block_h1">
                        <h1>Радиокнопка</h1>
                        <span>Radio button (радиокнопка) - это элемент интерфейса, который позволяет пользователю
                            выбрать один вариант из нескольких предложенных. Обычно радиокнопки используются в формах
                            для выбора определенной категории, настроек или параметров.
                        </span>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Анатомия</h2>
                        <span>Радиокнопки всегда образуют группы, их следует использовать вместо чекбоксов, если из
                            списка нужно выбрать только один элемент.</span>
                        <div class="cards">
                            <div class="card card__extraBig">
                                <img src="/images/radio/Anatomy.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Руководство</h2>
                        <span>Радиогруппы могут быть выровнены по вертикали или горизонтали. Но их допустимо располагать
                            в одну строку, только если два варианта. При количестве вариантов ответа больше двух,
                            радиокнопки располагаются вертикально. Заголовок может располагаться как сверху, так и слева
                            от кнопок.</span>
                        <div class="text__block text__block_h3">
                            <div class="cards cards__tiny">
                                <div class="card card__tiny card__tiny_auto">
                                    <img src="/images/radio/Guide1.png" alt="">
                                </div>
                                <div class="card card__tiny card__tiny_auto">
                                    <img src="/images/radio/Guide2.png" alt="">
                                </div>
                            </div>
                            <div class="cards cards__tiny">
                                <div class="card card__tiny card__tiny_text">
                                    <p>Вертикальное выравнивание</p>
                                </div>
                                <div class="card card__tiny card__tiny_text">
                                    <p>Горизонтальное выравнивание</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="rightSidebar">
                    <ul>
                        <li>Содержание</li>
                        <li>Анатомия</li>
                        <li>Руководство</li>
                    </ul>
                </div>
            </main>
            <footer>
                <a href="/components/components/input.html" class="previous">Поля ввода</a>
                <a href="/components/components/slider.html" class="next">Слайдеры</a>
            </footer>
        </div>

    </div>
</body>

</html>