<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHUTES & LADDERS - дизайн система</title>
    <link rel="stylesheet" href="../../css/global/global.css">
    <link rel="stylesheet" href="../../css/header/header.css">
    <link rel="stylesheet" href="../../css/sidebar/sidebar.css">
    <link rel="stylesheet" href="../../css/footer/footer.css">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar__left">
                <ul>
                    <li>
                        <a href="/index.html">
                            <img src="../../images/sidebar/Стартер.svg" alt="">
                            <span>Стартер</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/aboutC&L.html">
                            <img src="../../images/sidebar/О CL.svg" alt="">
                            <span>O C&L</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/RuleBook.html">
                            <img src="../../images/sidebar/Rulebook.svg" alt="">
                            <span>Книга правил</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/decoration/review.html">
                            <img src="../../images/sidebar/Vector.svg" alt="">
                            <span>Оформление</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/components/review.html" class="active">
                            <img src="../../images/sidebar/Components.svg" alt="">
                            <span>Компоненты</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/authors.html">
                            <img src="../../images/sidebar/Authors.svg" alt="">
                            <span>Авторы игры</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="sidebar__right">
                <ul>
                    <li>Сhutes & Ladders</li>
                    <li><a href="/components/components/review.html" class="active">Обзор</a></li>
                    <li><a href="/components/components/avatar.html">Аватар</a></li>
                    <li><a href="/components/components/accordion.html">Аккордеон</a></li>
                    <li><a href="/components/components/dropList.html">Выпадающие списки</a></li>
                    <li><a href="/components/components/cards.html">Карточки</a></li>
                    <li><a href="/components/components/carousel.html">Карусель</a></li>
                    <li><a href="/components/components/buttons.html">Кнопки</a></li>
                    <li><a href="/components/components/navigation.html">Навигация</a></li>
                    <li><a href="/components/components/switch.html">Переключатель</a></li>
                    <li><a href="/components/components/">Поля ввода</a></li>
                    <li><a href="/components/components/">Радиокнопка</a></li>
                    <li><a href="/components/components/">Слайдеры</a></li>
                    <li><a href="/components/components/">Степпер</a></li>
                    <li><a href="/components/components/">Строка поиска</a></li>
                    <li><a href="/components/components/">Чекбокс</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <header class="header header__review">
                <p class="title">Компоненты</p>
                <span>Компоненты представляют собой “строительные блоки” дизайн-системы, созданные для решения
                    конкретных проблем пользовательского интерфейса.</span>
            </header>
            <main class="main_firstPage">
                <div class="main__content main__content_firstPage">
                    <div class="cards cards__small">
                        <a href="/components/components/avatar.html" class="card card__small">
                            <h3>Аватар</h3>
                            <span>Аватар — изображение, отображающее пользователя и различную информацию о нём, в том
                                числе о статусе и активности.</span>
                        </a>
                        <a href="/components/components/accordion.html" class="card card__small">
                            <h3>Аккордеон</h3>
                            <span>Аккордеон — это сложенный список, который группирует разделы связанного контента и
                                может быть развернут и скрыт.</span>
                        </a>
                    </div>
                    <div class="cards cards__small">
                        <a href="/components/components/dropList.html" class="card card__small">
                            <h3>Выпадающие списки</h3>
                            <span>Список опций, из которых пользователь может выбрать один или несколько
                                вариантов.</span>
                        </a>
                        <a href="/components/components/cards.html" class="card card__small">
                            <h3>Карточки</h3>
                            <span>Карточка — это контейнер, содержащий информацию и действия, связанные с одним понятием
                                или объектом.</span>
                        </a>
                    </div>
                    <div class="cards cards__small">
                        <a href="/components/components/carousel.html" class="card card__small">
                            <h3>Карусель</h3>
                            <span>Карусель — тип шаблона интерфейса, отображающий элементы контента в линейной
                                последовательности.</span>
                        </a>
                        <a href="/components/components/buttons.html" class="card card__small">
                            <h3>Кнопки</h3>
                            <span>Кнопки используются с целью запуска действия или в качестве навигационной
                                ссылки.</span>
                        </a>
                    </div>
                    <div class="cards cards__small">
                        <a href="/components/components/navigation.html" class="card card__small">
                            <h3>Навигация</h3>
                            <span>Навигация делает процесс поиска нужной информации более интуитивным и удобным,
                                позволяют быстрее ориентироваться на сайте.</span>
                        </a>
                        <a href="/components/components/switch.html" class="card card__small">
                            <h3>Переключатель</h3>
                            <span>Переключатель позволяет пользователям выбирать между двумя вариантами:
                                включено/выключено, активно/неактивно.</span>
                        </a>
                    </div>
                    <div class="cards cards__small">
                        <a href="/components/components/input.html" class="card card__small">
                            <h3>Поля ввода</h3>
                            <span>Поля ввода позволяют вводить текстовые данные в произвольной форме: длинные и короткие
                                тексты.</span>
                        </a>
                        <a href="/components/components/radio.html" class="card card__small">
                            <h3>Радиокнопка</h3>
                            <span>Группы радиокнопок позволяют пользователю выбрать один вариант из нескольких
                                предложенных.</span>
                        </a>
                    </div>
                    <div class="cards cards__small">
                        <a href="/components/components/slider.html" class="card card__small">
                            <h3>Слайдеры</h3>
                            <span>Слайдеры — это удобный инструмент для настройки параметров и выбора одного значения
                                или определенного диапазона.</span>
                        </a>
                        <a href="/components/components/stepper.html" class="card card__small">
                            <h3>Степпер</h3>
                            <span>Степпер используется при добавлении в корзину необходимого количества экземпляров
                                каждой позиции магазина, </span>
                        </a>
                    </div>
                    <div class="cards cards__small">
                        <a href="/components/components/search.html" class="card card__small">
                            <h3>Строка поиска</h3>
                            <span>Строка поиска помогает исследовать веб-сайт при помощи ввода ключевых слов и/ или
                                фраз.</span>
                        </a>
                        <a href="/components/components/checkbox.html" class="card card__small">
                            <h3>Чекбокс</h3>
                            <span>Чекбокс позволяет выбирать несколько вариантов из группы, включать или же выключать
                                один параметр.</span>
                        </a>
                    </div>
                </div>
            </main>
            <footer>
                <a href="/components/decoration/animation.html" class="previous">Анимация</a>
                <a href="/components/components/avatar.html" class="next">Аватар</a>
            </footer>
        </div>

    </div>
</body>

</html>