<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHUTES & LADDERS - дизайн система</title>
    <link rel="stylesheet" href="../../css/global/global.css">
    <link rel="stylesheet" href="../../css/header/header.css">
    <link rel="stylesheet" href="../../css/sidebar/sidebar.css">
    <link rel="stylesheet" href="../../css/footer/footer.css">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar__left">
                <ul>
                    <li>
                        <a href="/index.html">
                            <img src="../../images/sidebar/Стартер.svg" alt="">
                            <span>Стартер</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/aboutC&L.html">
                            <img src="../../images/sidebar/О CL.svg" alt="">
                            <span>O C&L</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/RuleBook.html">
                            <img src="../../images/sidebar/Rulebook.svg" alt="">
                            <span>Книга правил</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/decoration/review.html">
                            <img src="../../images/sidebar/Vector.svg" alt="">
                            <span>Оформление</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="active">
                            <img src="../../images/sidebar/Components.svg" alt="">
                            <span>Компоненты</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/authors.html">
                            <img src="../../images/sidebar/Authors.svg" alt="">
                            <span>Авторы игры</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="sidebar__right">
                <ul>
                    <li>Сhutes & Ladders</li>
                    <li><a href="/components/components/review.html">Обзор</a></li>
                    <li><a href="/components/components/avatar.html">Аватар</a></li>
                    <li><a href="/components/components/accordion.html">Аккордеон</a></li>
                    <li><a href="/components/components/dropList.html">Выпадающие списки</a></li>
                    <li><a href="/components/components/cards.html">Карточки</a></li>
                    <li><a href="/components/components/carousel.html">Карусель</a></li>
                    <li><a href="/components/components/buttons.html">Кнопки</a></li>
                    <li><a href="/components/components/navigation.html">Навигация</a></li>
                    <li><a href="/components/components/switch.html">Переключатель</a></li>
                    <li><a href="/components/components/input.html">Поля ввода</a></li>
                    <li><a href="/components/components/radio.html">Радиокнопка</a></li>
                    <li><a href="/components/components/slider.html">Слайдеры</a></li>
                    <li><a href="/components/components/stepper.html">Степпер</a></li>
                    <li><a href="/components/components/search.html" class="active">Строка поиска</a></li>
                    <li><a href="/components/components/checkbox.html">Чекбокс</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <main>
                <div class="main__content">
                    <div class="text__block text__block_h1">
                        <h1>Строка поиска</h1>
                        <span>Поисковая строка является важным элементом пользовательского интерфейса и помогает
                            упростить навигацию. Она предоставляет пользователям возможность исследовать веб-сайт при
                            помощи ввода ключевых слов и / или фраз.
                            <br>
                            <br>
                            Большинство поисковых запросов начинаются с расширенного, общего поиска, по мере применения
                            фильтров его область сужается.
                            <br>
                            <br>
                            Используемый метод поиска зависит от размера искомого набора данных и места поиска в
                            продукте. Размещение поля поиска зависит от конструкции приложения и объема поиска.
                        </span>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Анатомия</h2>
                        <div class="cards">
                            <div class="card card__extraBig">
                                <img src="/images/search/Anatomy.png" alt="">
                            </div>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Значок поиска</h3>
                            <span> Значок поиска в виде лупы — это общепринятый и универсальный способ для обозначения
                                поля поиска.</span>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Текст-заполнитель</h3>
                            <span>Текст-заполнитель представляет собой короткий текст, указывающий пользователю на
                                возможность ввода своего поискового запроса. Например, “Поиск товара”.</span>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Поле ввода текста</h3>
                            <span>Поле ввода — это место, куда пользователь вводит нужный поисковый запрос.</span>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Параметры</h2>
                        <span>
                            Строка поиска - это быстрый способ нахождения и сортировки данных. Поиск выполняется после
                            ввода каждого символа, и результаты отображаются сразу под полем поиска. Пользователь может
                            рассматривать поиск как способ фильтрации набора данных по ключевым словам.
                            <br>
                            <br>
                            При выполнении запроса пользователь перенаправляется на страницу результатов.
                            <br>
                            <br>
                            Когда пользователь кликает в поле поиска, ему отображается меню недавних поисковых запросов
                            пользователя, либо актуальных поисковых запросов (либо и того, и другого).
                        </span>
                        <div class="cards">
                            <div class="card card__extraBig">
                                <img src="/images/search/Parameters1.png" alt="">
                            </div>
                        </div>
                        <span>Когда пользователь вводит текст в поле, это меню заменяется предложениями, основанными на
                            поисковом запросе. Результаты поиска, следует отображать в любом случае, даже если поисковой
                            запрос не дал результатов.</span>
                        <div class="cards">
                            <div class="card card__extraBig">
                                <img src="/images/search/Parameters2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Руководство</h2>
                        <div class="text__block text__block_h3">
                            <h3>Фильтр раздела/категории</h3>
                            <span>Фильтр позволяет пользователям ограничить поиск разделом или категорией контента на
                                веб-сайте, в отличие от глобального поиска, который ищет все сразу.
                                <br>
                                <br>
                                Одновременно можно выбрать только одну категорию области действия, но раскрывающийся
                                список всегда должен включать параметр «Все» или «Любой», и этот параметр должен быть
                                выбран по умолчанию. Если выбрано «Все» или «Любой», поле будет функционировать как
                                базовый глобальный поиск.</span>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Отсутствие результата запроса</h3>
                            <span>Если поиск не предоставил ответ на интересующий пользователя запрос, предложите
                                варианты возможных действий. Предоставьте предложения и полезные ресурсы, которые
                                помогут пользователю найти то, что он ищет.</span>
                        </div>
                        <div class="cards">
                            <div class="card card__extraBig">
                                <img src="/images/search/Wrong.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rightSidebar">
                    <ul>
                        <li>Содержание</li>
                        <li>Анатомия</li>
                        <li>Виды</li>
                        <li>Руководство</li>
                    </ul>
                </div>
            </main>
            <footer>
                <a href="/components/components/stepper.html" class="previous">Степпер</a>
                <a href="/components/components/checkbox.html" class="next">Чекбокс</a>
            </footer>
        </div>

    </div>
</body>

</html>