.header {
  height: 544px;
  width: 100%;
  padding: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border-radius: 15px;

  &__starter {
    height: 100%;
    align-items: center;
    background: url(../../images/header/THUMBNAIL.png);
    background-position: center;
    background-size: cover;
  }
  &__author {
    text-align: center;
    align-items: center;
    background: url(../../images/header/HEAD.png);
    background-position: center;
    background-size: cover;
  }

  &__about,
  &__ruleBook {background: url(../../images/header/headpic.png);
    background-position: center;
    background-size: cover;
  }
  &__review {
    background: url(../../images/header/headpic_s.png);
    background-position: center;
    background-size: cover;
  }

  & a {
    width: 270px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--back);
    border-radius: 100px;
    border: 0px;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    background: var(--OG1);
    transition: 0.5s ease;
    text-decoration: none;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    
    &:hover {
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
    }
  }
  & .title {
    font-size: 96px;
    width: 60%;
    font-weight: 800;
    text-transform: capitalize;
    color: var(--BL3);
    line-height: normal;

    &.main {
      margin-top: 40px;
      width: auto;
      font-size: 128px;
      text-transform: uppercase;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      line-height: 100%;
      margin-bottom: 20px;
    }
  }

  & span {
    width: 60%;
    max-width: 968px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: var(--text);
  }
}
