<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHUTES & LADDERS - дизайн система</title>
    <link rel="stylesheet" href="../../css/global/global.css">
    <link rel="stylesheet" href="../../css/header/header.css">
    <link rel="stylesheet" href="../../css/sidebar/sidebar.css">
    <link rel="stylesheet" href="../../css/footer/footer.css">
    <link rel="shortcut icon" href="/images/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/animations/animations.css">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar__left">
                <ul>
                    <li>
                        <a href="/index.html">
                            <img src="../../images/sidebar/Стартер.svg" alt="">
                            <span>Стартер</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/aboutC&L.html">
                            <img src="../../images/sidebar/О CL.svg" alt="">
                            <span>O C&L</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/RuleBook.html">
                            <img src="../../images/sidebar/Rulebook.svg" alt="">
                            <span>Книга правил</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="active">
                            <img src="../../images/sidebar/Vector.svg" alt="">
                            <span>Оформление</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/components/review.html">
                            <img src="../../images/sidebar/Components.svg" alt="">
                            <span>Компоненты</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/authors.html">
                            <img src="../../images/sidebar/Authors.svg" alt="">
                            <span>Авторы игры</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="sidebar__right">
                <ul>
                    <li>Сhutes & Ladders</li>
                    <li><a href="/components/decoration/review.html">Обзор</a></li>
                    <li><a href="/components/decoration/layout-grid.html">Макет и сетка</a></li>
                    <li><a href="/components/decoration/colors.html">Цветовая система</a></li>
                    <li><a href="/components/decoration/typography.html">Типографика</a></li>
                    <li><a href="/components/decoration/geometry.html">Геометрия</a></li>
                    <li><a href="/components/decoration/icons.html">Иконки</a></li>
                    <li><a href="/components/decoration/animation.html" class="active">Анимация</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <main>
                <div class="main__content">
                    <div class="text__block text__block_h1">
                        <h1>Анимация</h1>
                        <span>С помощью анимации можно повысить визуальное восприятие и интерактивность
                            пользовательского интерфейса. В нашей дизайн-системе используются различные анимационные
                            элементы.</span>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Основные принципы</h2>
                        <div class="text__block text__block_h3">
                            <h3>Натуральность</h3>
                            <span>Анимации элементов и объектов должны быть плавными и естественными. Рывки и дрожание
                                могут вызывать негативное восприятие. Объекты и элементы должны начинать и заканчивать
                                движение постепенно. Длительность анимации должна быть оптимальной . Слишком короткая
                                анимация может быть сложна и непонятна для восприятия, а слишком долгие — утомительными
                                и раздражающими.</span>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Прозрачность</h3>
                            <span>Анимации не должны отвлекать пользователя от основного контента. Они должны быть
                                визуально понятны и не мешать восприятию.</span>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Функциональность</h3>
                            <span>Анимации должны подчеркивать структуру интерфейса, помогая пользователям понимать, как
                                элементы взаимодействуют друг с другом. Они могут направлять внимание пользователя на
                                ключевые элементы интерфейса.</span>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Компоненты анимации</h2>
                        <div class="text__block text__block_h3">
                            <h3>Анимация загрузки</h3>
                            <span>Анимации, предназначенные для периода ожидания загрузки страницы или элемента. Их
                                целью является сглаживание восприятия времени ожидания.</span>
                        </div>
                        <div class="cards">
                            <div class="card card__extraBig">
                                <div class="loader-container">
                                    <div class="loader-ring"></div>
                                    <p class="loading-text"></p>
                                </div>
                            </div>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Анимированные элементы интерфейса</h3>
                            <span>Движущиеся элементы интерфейса, такие как карусели, слайдеры, всплывающие окна и
                                другие, придающие динамичность интерфейсу.</span>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Интерактивные анимации</h3>
                            <span>Реакция на пользовательские действия, например, анимированные кнопки, плавные
                                изменения цвета кнопок при наведении и т.д.</span>
                        </div>
                        <div class="cards">
                            <div class="card card__extraBig">
                                <div class="loader-container">
                                   <button>Кнопка</button>
                                </div>
                            </div>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Анимации форм ввода данных</h3>
                            <span>Анимации, облегчающие процесс ввода данных, такие как появление подсказок, плавное
                                появление ошибок валидации и т.д.</span>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Продолжительность</h2>
                        <span>Продолжительность анимации играет ключевую роль в восприятии пользователем динамических
                            изменений. Она должна быть достаточной, чтобы пользователь успел усвоить информацию, но не
                            слишком долгой, анимация не должна создавать впечатление задержки. Обычно легкие и
                            кратковременные анимации (например, 200-300 миллисекунд) предпочтительны.
                            <br>
                            <br>
                            Ослабление анимации, или замедление ее темпа по мере увеличения времени, может создать
                            естественное и комфортное визуальное восприятие. Например, при появлении элемента его
                            скорость роста может постепенно уменьшаться. Это придает анимации плавность и
                            естественность.</span>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Иерархия</h2>
                        <span>
                            Важно создать четкую иерархию визуальных элементов, чтобы пользователь мог легко определить,
                            что является ключевым на странице. Элементы, которые играют наиболее важную роль, можно
                            выделить более выразительными и длительными анимациями, в то время как второстепенные
                            элементы — менее заметными и кратковременными анимациями.
                            <br>
                            <br>
                            Также иерархия относится к порядку, в котором анимируются элементы. Иерархия анимации
                            позволяет вам направлять внимание людей на элементы интерфейса в предпочтительном порядке и
                            помогает упростить навигацию по критически важным областям.
                        </span>
                        <div class="text__block text__block_h3">
                            <div class="cards cards__tiny">
                                <div class="card card__tiny">
                                    <img src="/images/animations/Right.png" alt="">
                                    <div class="block__animate">
                                        <span class="block__animate_right" style="--i:0"></span>
                                        <span class="block__animate_right" style="--i:1"></span>
                                    </div>
                                </div>
                                <div class="card card__tiny">
                                    <img src="/images/animations/Wrong.png" alt="">
                                    <div class="block__animate">
                                        <span class="block__animate_wrong"></span>
                                        <span class="block__animate_wrong"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="cards cards__tiny">
                                <div class="card card__tiny card__tiny_text">
                                    <p>Последовательное перемещение элементов способствует концентрации</p>
                                </div>
                                <div class="card card__tiny card__tiny_text">
                                    <p>Одновременное перемещение элементов вносит неясность</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Доступность</h2>
                        <span>При использовании анимации, важно, чтобы пользователи, у которых могут быть сложности с
                            восприятием движения и анимации, поняли, что произошло. Люди, имеющие сложности с
                            восприятием движения и анимации — это люди, к примеру, с плохим зрением, с вестибулярными
                            расстройствами, люди пользующихся тифлокомментированием (программами чтения с экрана) или
                            пользователи, чувствительные к визуальным стимулам.
                            <br>
                            <br>
                            Необходимо следить за тем, чтобы продолжительность любой анимации была оптимальной, а
                            движения естественными. Нужно также избегать вспышек, резких движений, которые могут
                            спровоцировать эпилептический припадок. Анимация должна быть ограничена, добавление движения
                            в другие области экрана может отвлечь от текущей задачи.
                            <br>
                            <br>
                            Мы также предоставляем пользователям возможность отключения анимации, что является важным
                            аспектом доступности, так как некоторые пользователи нуждаются или предпочитают статический
                            интерфейс.</span>
                    </div>
                </div>
                <div class="rightSidebar">
                    <ul>
                        <li>Содержание</li>
                        <li>Основные принципы</li>
                        <li>Компоненты анимации</li>
                        <li>Продолжительность</li>
                        <li>Иерархия</li>
                        <li>Доступность</li>
                    </ul>
                </div>
            </main>
            <footer>
                <a href="./icons.html" class="previous">Иконки</a>
                <a href="/components/components/review.html" class="next">Компоненты</a>
            </footer>
        </div>

    </div>
</body>

</html>