<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHUTES & LADDERS - дизайн система</title>
    <link rel="stylesheet" href="../../css/global/global.css">
    <link rel="stylesheet" href="../../css/header/header.css">
    <link rel="stylesheet" href="../../css/sidebar/sidebar.css">
    <link rel="stylesheet" href="../../css/footer/footer.css">
    <link rel="shortcut icon" href="/images/fav.png" type="image/x-icon">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar__left">
                <ul>
                    <li>
                        <a href="/index.html">
                            <img src="../../images/sidebar/Стартер.svg" alt="">
                            <span>Стартер</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/aboutC&L.html">
                            <img src="../../images/sidebar/О CL.svg" alt="">
                            <span>O C&L</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/RuleBook.html">
                            <img src="../../images/sidebar/Rulebook.svg" alt="">
                            <span>Книга правил</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="active">
                            <img src="../../images/sidebar/Vector.svg" alt="">
                            <span>Оформление</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/components/review.html">
                            <img src="../../images/sidebar/Components.svg" alt="">
                            <span>Компоненты</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/authors.html">
                            <img src="../../images/sidebar/Authors.svg" alt="">
                            <span>Авторы игры</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="sidebar__right">
                <ul>
                    <li>Сhutes & Ladders</li>
                    <li><a href="/components/decoration/review.html">Обзор</a></li>
                    <li><a href="/components/decoration/layout-grid.html">Макет и сетка</a></li>
                    <li><a href="/components/decoration/colors.html" class="active">Цветовая система</a></li>
                    <li><a href="/components/decoration/typography.html">Типографика</a></li>
                    <li><a href="/components/decoration/geometry.html">Геометрия</a></li>
                    <li><a href="/components/decoration/icons.html">Иконки</a></li>
                    <li><a href="/components/decoration/animation.html">Анимация</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <main>
                <div class="main__content">
                    <div class="text__block text__block_h1">
                        <h1>Цветовая система</h1>
                        <span>Цвет — это инструмент, используемый для выражения стиля, пробуждения эмоций и передачи
                            необходимого смысла. Тщательно подобранная, стандартизированная цветовая палитра и ее
                            целенаправленное применение обеспечивают привычное, комфортное и последовательное восприятие
                            информации и контента.</span>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Палитра</h2>
                        <span>В данном разделе представлена основная информация о палитре Chutes & Ladders— основной,
                            дополнительной и нейтральной. Для каждого цвета указан HEX-код.
                            <br>
                            <br>
                            В C&L используется специально разработанная цветовая палитра, которая состоит из семи
                            основных цветов и представляет собой богатую смесь оттенков, каждый из которых подобран для
                            демонстрации динамичности и развлекательного характера настольных игр. Необходимо помнить,
                            что при единовременном использовании на странице большого количества цветов интерфейс будет
                            визуально перегружен, что отрицательно скажется на восприятии пользователя.</span>
                        <div class="cards">
                            <div class="card card__big">
                                <img src="/images/colors/Picture.png" alt="">
                            </div>
                        </div>
                        <span>Цвет усиливает визуальный опыт и играет ключевую роль в создании узнаваемого и
                            привлекательного образа для наших клиентов. Он помогает создать связь между потребителем и
                            продуктом, улучшая вовлеченность и удовлетворенность клиента.
                            Цвет позволяет пользователю понимать контекст рабочего процесса, выстраивает иерархию
                            действий в интерфейсе, а также помогает визуально структурировать информацию, упрощая
                            навигацию и ускоряя процесс поиска нужного продукта.
                            <br>
                            <br>
                            Все элементы создают гармоничную систему, которая внесет яркую вспышку цвета в любую игру и
                            поможет сделать покупки в наших магазинах еще более приятным и увлекательным
                            процессом.</span>
                        <div class="text__block text__block_h3">
                            <h3>Основная палитра цветов</h3>
                            <span>Основной цвет Pimary 1 — синий — должен встречаться во всех коммуникациях. Основной
                                цвет Pimary 2 — оранжевый — является вспомогательным и чаще всего используется для
                                call-to-action — призыва к действию.</span>
                            <div class="cards cards__tiny">
                                <div class="card card__tiny">
                                    <img src="/images/colors/Primary1.png" alt="">
                                </div>
                                <div class="card card__tiny">
                                    <img src="/images/colors/Primary2.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Дополнительная палитра цветов</h3>
                            <span>Дополнительные цвета работают в паре с основными и/ или друг с другом. Цвета стоит
                                сочетать в соответствии с цветовыми схемами нашей дизайн-системы C&L, а также с учетом
                                правил и рекомендаций.</span>
                            <div class="cards">
                                <div class="card card__extraBig">
                                    <img src="/images/colors/Pallet.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Нейтральная палитра цветов</h3>
                            <span>Нейтральная палитра состоит из 5 цветов: черного с HEX-кодом #1B1A19, белого
                                (#FFFFFF), серого (#F6F6F6), бежевого (#FCF3EA) и светло-голубого (#F2F7F8).
                                В дизайн-системе C&L такие цвета чаще всего используются для создания фоновой основы, на
                                которой будут выделяться элементы дизайна. Также нейтральные цвета используются для
                                создания иерархии в дизайне, фонов в компонентах и элементах дизайн-системы. </span>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Цветовые схемы</h2>
                        <span>В данном разделе представлено несколько цветовых схем и сочетаний, которые рекомендуется
                            применять в собственных проектах. Стоит помнить, что сочетания цветов играют важную роль в
                            интерфейсе.</span>
                        <div class="cards cards__tiny">
                            <div class="card card__tiny">
                                <img src="/images/colors/Pallet1.png" alt="">
                            </div>
                            <div class="card card__tiny">
                                <img src="/images/colors/Pallet2.png" alt="">
                            </div>
                        </div>
                        <span>Цветовые схемы создают визуальную иерархию и облегчают навигацию. Грамотное их
                            использование может упростить взаимодействие пользователя с интерфейсом, а также улучшить
                            восприятие предоставляемой информации.</span>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Использование цвета</h2>
                        <div class="text__block text__block_h3">
                            <span>Правила и рекомендации по использованию цветов в визуальном оформлении:</span>
                            <ul class="list_stylish">
                                <li>Применение контрастных цветов помогает выделить необходимые элементы интерфейса,
                                    контролировать внимание пользователя и в том числе управлять им. Например, яркие
                                    цвета
                                    часто используются для кнопок действий, с целью привлечения внимание пользователя и
                                    призвать к действию.</li>
                                <li>Цвета могут использоваться для группировки связанных элементов. К примеру, один и
                                    тот же
                                    цвет может быть использован для всех элементов, относящихся к одной категории.</li>
                            </ul>
                            <span>По возможности позволяйте пользователям персонализировать цветовую гамму, чтобы она
                                всегда
                                им подходила. Стоит также отметить, что не стоит использовать цвет как единственный
                                способ
                                общения, обязательно необходимо сопровождать его текстом, графикой и другими
                                индикаторами
                                для передачи информации различными способами.</span>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Контрастность</h3>
                            <span>Контрастность — это разница между двумя цветовыми оттенками.  Коэффициент
                                контрастности помогает измерить читаемость контента. Чем больше число, тем лучше
                                пользователь будет считывать информацию. Хорошим коэффициентом контрастности является
                                число, превышающее значение 4,5.
                                <br>
                                <br>
                                Коэффициент контрастности нейтральных фоновых цветов — бежевого и светло-голубого и
                                цвета Primary 1 — синего. Контрастность цветов измерялась с помощью стороннего сервиса
                                Сontrast-ratio.</span>
                            <div class="cards">
                                <div class="card card__extraBig">
                                    <img src="/images/colors/Contrast1.png" alt="">
                                </div>
                            </div>
                            <span>Представленные цветовые сочетания являются одними из основных для бренда Chutes &
                                Ladders и применяются с целью передачи фирменного стиля, а также для иллюстративных
                                целей.
                            </span>
                            <div class="cards">
                                <div class="card card__extraBig">
                                    <img src="/images/colors/Contrast2.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Взаимодействие с пользователем</h3>
                            <span>Как правило, компонент приобретает более темный (либо более светлый) оттенок, по мере
                                взаимодействия с ним, начиная с самого светлого состояния покоя и заканчивая более
                                темным состоянием при наведении курсора, вплоть до самого темного состояния “выбора”. В
                                состоянии фокусировки цвет элемента управления не меняется, но обводка элемента (кнопки)
                                становится толще и приобретает цвет.</span>
                        </div>
                    </div>

                </div>

                <div class="rightSidebar">
                    <ul>
                        <li>Содержание</li>
                        <li>Палитра</li>
                        <li>Цветовые схемы</li>
                        <li>Использование цвета</li>
                    </ul>
                </div>
            </main>
            <footer>
                <a href="./layout-grid.html" class="previous">Макет и сетка</a>
                <a href="./typography.html" class="next">Типографика</a>
            </footer>
        </div>

    </div>
</body>

</html>