<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHUTES & LADDERS - дизайн система</title>
    <link rel="stylesheet" href="../../css/global/global.css">
    <link rel="stylesheet" href="../../css/header/header.css">
    <link rel="stylesheet" href="../../css/sidebar/sidebar.css">
    <link rel="stylesheet" href="../../css/footer/footer.css">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar__left">
                <ul>
                    <li>
                        <a href="/index.html">
                            <img src="../../images/sidebar/Стартер.svg" alt="">
                            <span>Стартер</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/aboutC&L.html">
                            <img src="../../images/sidebar/О CL.svg" alt="">
                            <span>O C&L</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/RuleBook.html">
                            <img src="../../images/sidebar/Rulebook.svg" alt="">
                            <span>Книга правил</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="active">
                            <img src="../../images/sidebar/Vector.svg" alt="">
                            <span>Оформление</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/components/review.html">
                            <img src="../../images/sidebar/Components.svg" alt="">
                            <span>Компоненты</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/authors.html">
                            <img src="../../images/sidebar/Authors.svg" alt="">
                            <span>Авторы игры</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="sidebar__right">
                <ul>
                    <li>Сhutes & Ladders</li>
                    <li><a href="/components/decoration/review.html">Обзор</a></li>
                    <li><a href="/components/decoration/layout-grid.html">Макет и сетка</a></li>
                    <li><a href="/components/decoration/colors.html">Цветовая система</a></li>
                    <li><a href="/components/decoration/typography.html">Типографика</a></li>
                    <li><a href="/components/decoration/geometry.html" class="active">Геометрия</a></li>
                    <li><a href="/components/decoration/icons.html">Иконки</a></li>
                    <!-- <li><a href="/components/decoration/">Анимация</a></li> -->
                </ul>
            </div>
        </div>
        <div class="container">
            <main>
                <div class="main__content">
                    <div class="text__block text__block_h1">
                        <h1>Геометрия</h1>
                        <span>Геометрия помогает сделать интерфейс привлекательным и узнаваемым. Выбор правильной формы
                            элементов и компонентов выстраивает грамотное визуальное повествование и способствует
                            улучшению восприятия и положительному опыту взаимодействия с дизайн-системой C&L.</span>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Геометрические формы</h2>
                        <span>В дизайн-системе сети магазинов настольных игр Chutes & Ladders используются две основные
                            простые геометрические формы: прямоугольник и круг. Также есть третья дополнительная форма —
                            таблетка (прямоугольник со угловым радиусом в 100%). Она используется для кнопок и некоторых
                            других элементов интерфейса.</span>
                        <div class="text__block text__block_h3">
                            <div class="cards cards__tiny">
                                <div class="card card__tiny">
                                    <img src="/images/geometry/Rectangle.png" alt="">
                                </div>
                                <div class="card card__tiny">
                                    <img src="/images/geometry/Circle.png" alt="">
                                </div>
                            </div>
                            <div class="cards cards__tiny">
                                <div class="card card__tiny card__tiny_text">
                                    <p>Прямоугольник</p>
                                    <span>Базовая форма для большинства компонентов и контейнеров: кнопок, карточек,
                                        изображений и др.</span>
                                </div>
                                <div class="card card__tiny card__tiny_text">
                                    <p>Круг</p>
                                    <span>Форма для аватаров пользователей и других компонентов, отображающих или
                                        представляющих людей.</span>
                                </div>
                            </div>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Выделение</h3>
                            <span>Отделение от основного фона при взаимодействии с геометрическими формами и объектами
                                следует обозначать заливкой или обводкой в виде цветовой границы линии и/ или теневой
                                границы.</span>
                        </div>
                        <div class="text__block text__block_h3">
                            <div class="cards cards__tiny">
                                <div class="card card__tiny">
                                    <img src="/images/geometry/Fill.png" alt="">
                                </div>
                                <div class="card card__tiny">
                                    <img src="/images/geometry/Border.png" alt="">
                                </div>
                            </div>
                            <div class="cards cards__tiny">
                                <div class="card card__tiny card__tiny_text">
                                    <p>Заливка</p>
                                    <span>Стиль и цвет заливки поможет выделить геометрический объект и сакцентировать
                                        на нём внимание.</span>
                                </div>
                                <div class="card card__tiny card__tiny_text">
                                    <p>Границы</p>
                                    <span>Линейная граница нейтрального или яркого цвета и/или теневая граница также
                                        создают акцент.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Скругление углов</h2>
                        <span>В большинстве случаев угловые радиусы прямоугольных фигур по умолчанию составляют 15%. Для
                            фигур размером менее 72 px угол угла уменьшается до 8% Для некоторых типов кнопок и друг
                            элементов интерфейса можно применять 100% скругление углов.</span>
                        <div class="cards">
                            <div class="card card__extraBig">
                                <img src="/images/geometry/Radius.png" alt="">
                            </div>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Рекомендации по применению</h3>
                            <span>В Chutes & Ladders скругленные углы применяются для двух типов компонентов
                                пользовательского интерфейса: для прямоугольных элементов и для всплывающих
                                элементов.
                                <br>
                                <br>
                                Используйте представленные ниже в таблице значения скругления углов для определенных
                                элементов интерфейса:</span>
                            <div class="cards">
                                <div class="card card__extraBig">
                                    <img src="/images/geometry/Tablet.png" alt="">
                                </div>
                            </div>
                            <span>Следует помнить, что иногда не стоит прибегать к скгруглению углов компонентов.</span>
                            <div class="text__block text__block_h3">
                                <div class="cards cards__tiny">
                                    <div class="card card__tiny">
                                        <img src="/images/geometry/Gaps.png" alt="">
                                    </div>
                                    <div class="card card__tiny">
                                        <img src="/images/geometry/Corners.png" alt="">
                                    </div>
                                </div>
                                <div class="cards cards__tiny">
                                    <div class="card card__tiny card__tiny_text">
                                        <p>Лишние зазоры и усложнение формы</p>
                                        <span>Не применяйте скругление углов для разных элементов, находящихся в одном
                                            контейнере. </span>
                                    </div>
                                    <div class="card card__tiny card__tiny_text">
                                        <p>Скругленные углы на краю экрана</p>
                                        <span>Если компонент находится на краю экрана, скругление его углов не
                                            применяется.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text__block text__block_h2">
                            <h2>Обводка</h2>
                            <span>Применяется для создания различного типа линий, стрелок, границ объектов. Такие
                                свойства
                                как толщина и цвет, а также распределение обводки могут быть изменены.</span>
                            <div class="cards">
                                <div class="card card__big">
                                    <!-- <img src="/images/typography/Alignment3.png" alt=""> -->
                                </div>
                            </div>
                            <div class="text__block text__block_h3">
                                <h3>Толщина штриха</h3>
                                <span>В соответствии с представленными ниже рекомендациями вы можете изменять толщину
                                    обводки. Чтобы добиться правильного визуального эффекта, при изменении толщины
                                    обводки
                                    учитывайте размер элемента.</span>
                            </div>
                            <div class="cards">
                                <div class="card card__big">
                                    <!-- <img src="/images/typography/Alignment3.png" alt=""> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rightSidebar">
                        <ul>
                            <li>Содержание</li>
                            <li>Геометрические формы</li>
                            <li>Скругление углов</li>
                            <li>Обводка</li>
                        </ul>
                    </div>
            </main>
            <footer>
                <a href="./typography.html" class="previous">Типографика</a>
                <a href="./icons.html" class="next">Иконки</a>
            </footer>
        </div>

    </div>
</body>

</html>