<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHUTES & LADDERS - дизайн система</title>
    <link rel="stylesheet" href="../../css/global/global.css">
    <link rel="stylesheet" href="../../css/header/header.css">
    <link rel="stylesheet" href="../../css/sidebar/sidebar.css">
    <link rel="stylesheet" href="../../css/footer/footer.css">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar__left">
                <ul>
                    <li>
                        <a href="/index.html">
                            <img src="../../images/sidebar/Стартер.svg" alt="">
                            <span>Стартер</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/aboutC&L.html">
                            <img src="../../images/sidebar/О CL.svg" alt="">
                            <span>O C&L</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/RuleBook.html">
                            <img src="../../images/sidebar/Rulebook.svg" alt="">
                            <span>Книга правил</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="active">
                            <img src="../../images/sidebar/Vector.svg" alt="">
                            <span>Оформление</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/components/review.html">
                            <img src="../../images/sidebar/Components.svg" alt="">
                            <span>Компоненты</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/authors.html">
                            <img src="../../images/sidebar/Authors.svg" alt="">
                            <span>Авторы игры</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="sidebar__right">
                <ul>
                    <li>Сhutes & Ladders</li>
                    <li><a href="/components/decoration/review.html">Обзор</a></li>
                    <li><a href="/components/decoration/layout-grid.html">Макет и сетка</a></li>
                    <li><a href="/components/decoration/colors.html">Цветовая система</a></li>
                    <li><a href="/components/decoration/typography.html">Типографика</a></li>
                    <li><a href="/components/decoration/geometry.html">Геометрия</a></li>
                    <li><a href="/components/decoration/icons.html" class="active">Иконки</a></li>
                    <li><a href="/components/decoration/animation.html">Анимация</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <main>
                <div class="main__content">
                    <div class="text__block text__block_h1">
                        <h1>Иконки</h1>
                        <span>Иконки — это элементы, которые обеспечивают единообразие и согласованность визуального
                            языка. Они служат визуальными представлениями для функций и действий, упрощают разработку
                            интерфейса, а также улучшают взаимодействие пользователя с продуктом.
                            <br>
                            <br>
                            Иконки могут заменять текст, сокращать объем информации, что позволяет сделать интерфейс
                            более компактным. Они придают уникальный стиль интерфейсу, что укрепляет узнаваемость и
                            также создает положительное впечатление и эмоции у пользователей.</span>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Стиль</h2>
                        <span>Иконки для магазинов настольных игр и игротек должны следовать общему стилю бренда Chutes
                            & Ladders, отражающему атмосферу любого игрового процесса. Они должны быть выполнены в
                            единой стилистике, иметь четкие контуры и быть легко читаемыми в различных размерах, чтобы
                            обеспечить консистентность визуального опыта.
                            <br>
                            <br>
                            Иконки нашей дизайн-системы C&L отражают различные аспекты и предметы, связанные с
                            настольными играми. Они легко узнаваемы и отличаются от обычных иконок магазинов и в
                            дополнение подчеркивают специфику ассортимента.</span>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Размер</h2>
                        <span>Базовый размер иконок может варьироваться в зависимости от дизайн-решений и контекста
                            использования. В нашей системе представлено несколько размеров иконок от 16 х 16 px до 64 x
                            64 px. Стандартный размер иконок 24 x 24 px, он применяется в большинстве случаев. </span>
                        <div class="cards">
                            <div class="card card__extraBig">
                                <img src="/images/icons/Size.png" alt="">
                            </div>
                        </div>
                        <span>Иконографику маленького размера — 16 х 16 px — нельзя использовать с целью взаимодействия.
                            Они могут предоставлять различную информацию, применяться для второстепенных элементов,
                            с текстами мелкого кегля, а также в ограниченном пространстве.</span>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Цвет</h2>
                        <span>Иконкам может быть задан один из цвет из палитры C&L. Цвет иконки должен быть подобран
                            так, чтобы обеспечивалась контрастность и читаемость.</span>
                        <div class="cards">
                            <div class="card card__extraBig">
                                <img src="/images/icons/Color.png" alt="">
                            </div>
                        </div>
                        <span>Иконки Chutes & Ladders представлены в двух вариациях — линейные иконки и иконки с
                            заливкой.  Линейные иконки используются чаще всего для навигации в системе. Иконки с
                            заливкой применяются для выделения выбранных состояний или в контексте, где требуется
                            сакцентировать внимание пользователя на том или ином элементе интерфейса.</span>
                        <div class="text__block text__block_h3">
                            <div class="cards cards__tiny">
                                <div class="card card__tiny">
                                    <img src="/images/icons/Linear.png" alt="">
                                </div>
                                <div class="card card__tiny">
                                    <img src="/images/icons/Fill.png" alt="">
                                </div>
                            </div>
                            <div class="cards cards__tiny">
                                <div class="card card__tiny card__tiny_text">
                                    <p>Линейные иконки</p>
                                    <span>Контур той или иной фигуры, имеют меньший акцент и контраст.</span>
                                </div>
                                <div class="card card__tiny card__tiny_text">
                                    <p>Иконки с заливкой</p>
                                    <span>Имеют больший контраст с фоном и акцентируют на себе внимание.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Библиотека иконок</h2>
                        <div class="text__block text__block_h3">
                            <h3>Общие</h3>
                            <div class="cards cards__extraTiny">
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-1.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-2.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-3.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-4.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-5.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-6.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-7.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-8.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-9.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-10.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-11.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-12.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-13.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-14.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-15.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Категории игр</h3>
                            <div class="cards cards__extraTiny">
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-games.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-games1.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-games2.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-games3.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-games4.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-games5.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-games6.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-games7.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-games8.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-games9.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-games10.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-games11.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-games12.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-games13.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-games14.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ICON-games15.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Аватары</h3>
                            <div class="cards cards__extraTiny">
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ava/ICON.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ava/ICON-1.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ava/ICON-2.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ava/ICON-3.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ava/ICON-4.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ava/ICON-5.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ava/ICON-6.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ava/ICON-7.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ava/ICON-8.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ava/ICON-9.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ava/ICON-10.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ava/ICON-11.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ava/ICON-12.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ava/ICON-13.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ava/ICON-14.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ava/ICON-15.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ava/ICON-16.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ava/ICON-17.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ava/ICON-18.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ava/ICON-19.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ava/ICON-20.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ava/ICON-21.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ava/ICON-22.png" alt="">
                                </div>
                                <div class="card card__extraTiny">
                                    <img src="/images/icons/ava/ICON-23.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rightSidebar">
                    <ul>
                        <li>Содержание</li>
                        <li>Стиль</li>
                        <li>Размер</li>
                        <li>Цвет</li>
                        <li>Библиотека иконок</li>
                    </ul>
                </div>
            </main>
            <footer>
                <a href="./geometry.html" class="previous">Геометрия</a>
                <a href="./animation.html" class="next">Анимация</a>
            </footer>
        </div>

    </div>
</body>

</html>