<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHUTES & LADDERS - дизайн система</title>
    <link rel="stylesheet" href="../../css/global/global.css">
    <link rel="stylesheet" href="../../css/header/header.css">
    <link rel="stylesheet" href="../../css/sidebar/sidebar.css">
    <link rel="stylesheet" href="../../css/footer/footer.css">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar__left">
                <ul>
                    <li>
                        <a href="/index.html">
                            <img src="../../images/sidebar/Стартер.svg" alt="">
                            <span>Стартер</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/aboutC&L.html">
                            <img src="../../images/sidebar/О CL.svg" alt="">
                            <span>O C&L</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/RuleBook.html">
                            <img src="../../images/sidebar/Rulebook.svg" alt="">
                            <span>Книга правил</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="active">
                            <img src="../../images/sidebar/Vector.svg" alt="">
                            <span>Оформление</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/components/review.html">
                            <img src="../../images/sidebar/Components.svg" alt="">
                            <span>Компоненты</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/authors.html">
                            <img src="../../images/sidebar/Authors.svg" alt="">
                            <span>Авторы игры</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="sidebar__right">
                <ul>
                    <li>Сhutes & Ladders</li>
                    <li><a href="/components/decoration/review.html" class="active">Обзор</a></li>
                    <li><a href="/components/decoration/layout-grid.html">Макет и сетка</a></li>
                    <li><a href="/components/decoration/colors.html">Цветовая система</a></li>
                    <li><a href="/components/decoration/typography.html">Типографика</a></li>
                    <li><a href="/components/decoration/geometry.html">Геометрия</a></li>
                    <li><a href="/components/decoration/icons.html">Иконки</a></li>
                    <!-- <li><a href="/components/decoration/">Анимация</a></li> -->
                </ul>
            </div>
        </div>
        <div class="container">
            <header class="header header__about">
                <p class="title">Оформление</p>
                <span>Оформление и дизайн являются важными визуальными аспектами пользовательского интерфейса, которые
                    придают ему особый внешний вид и могут быть персонализированы.</span>
            </header>
            <main class="main_firstPage">
                <div class="main__content main__content_firstPage">
                    <div class="cards cards__small">
                        <a href="./layout-grid.html" class="card card__small">
                            <h3>Макет и сетка</h3>
                            <span>Структура страницы — сетка, разметка и система отступов для создания четкого и
                                качественного дизайна.</span>
                        </a>
                        <a href="./colors.html" class="card card__small">
                            <h3>Цветовая система</h3>
                            <span>Цветовая палитра бренда настольных игр Chutes & Ladders, правила, рекомендации по ее
                                использованию в дизайне.</span>
                        </a>
                    </div>
                    <div class="cards cards__small">
                        <a href="./typography.html" class="card card__small">
                            <h3>Типографика</h3>
                            <span>Шрифты и их стили, используемые в текстовых материалах, а также правила и рекомендации
                                по применению.</span>
                        </a>
                        <a href="./geometry.html" class="card card__small">
                            <h3>Геометрия</h3>
                            <span>Форма элементов и компонентов, а также значков, иконок и иллюстраций, которые
                                используются брендом в дизайне.</span>
                        </a>
                    </div>
                    <div class="cards cards__small">
                        <a href="./icons.html" class="card card__small">
                            <h3>Иконки</h3>
                            <span>Иконки представляют собой элементы, которые обеспечивают единообразие и
                                согласованность визуального языка.</span>
                        </a>
                        <a href="" class="card card__small">
                            <h3>Анимация</h3>
                            <span>Анимация и анимированные элементы повышают восприятие, интерактивность
                                пользовательского интерфейса.</span>
                        </a>
                    </div>
                </div>
            </main>
            <footer>
                <a href="/components/aboutC&L.html" class="previous">Книга правил</a>
                <a href="./layout-grid.html" class="next">Макет и сетка</a>
            </footer>
        </div>

    </div>
</body>

</html>