<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHUTES & LADDERS - дизайн система</title>
    <link rel="stylesheet" href="../../css/global/global.css">
    <link rel="stylesheet" href="../../css/header/header.css">
    <link rel="stylesheet" href="../../css/sidebar/sidebar.css">
    <link rel="stylesheet" href="../../css/footer/footer.css">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar__left">
                <ul>
                    <li>
                        <a href="/index.html">
                            <img src="../../images/sidebar/Стартер.svg" alt="">
                            <span>Стартер</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/aboutC&L.html">
                            <img src="../../images/sidebar/О CL.svg" alt="">
                            <span>O C&L</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/RuleBook.html">
                            <img src="../../images/sidebar/Rulebook.svg" alt="">
                            <span>Книга правил</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="active">
                            <img src="../../images/sidebar/Vector.svg" alt="">
                            <span>Оформление</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/components/review.html">
                            <img src="../../images/sidebar/Components.svg" alt="">
                            <span>Компоненты</span>
                        </a>
                    </li>
                    <li>
                        <a href="/components/authors.html">
                            <img src="../../images/sidebar/Authors.svg" alt="">
                            <span>Авторы игры</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="sidebar__right">
                <ul>
                    <li>Сhutes & Ladders</li>
                    <li><a href="/components/decoration/review.html">Обзор</a></li>
                    <li><a href="/components/decoration/layout-grid.html">Макет и сетка</a></li>
                    <li><a href="/components/decoration/colors.html">Цветовая система</a></li>
                    <li><a href="/components/decoration/typography.html" class="active">Типографика</a></li>
                    <li><a href="/components/decoration/geometry.html">Геометрия</a></li>
                    <li><a href="/components/decoration/icons.html">Иконки</a></li>
                    <!-- <li><a href="/components/decoration/">Анимация</a></li> -->
                </ul>
            </div>
        </div>
        <div class="container">
            <main>
                <div class="main__content">
                    <div class="text__block text__block_h1">
                        <h1>Типографика</h1>
                        <span>Типографика включает в себя выбор шрифтов и их стилей, которые используются в текстовых
                            материалах магазина, включая рекламные материалы и веб-сайт. Она играет ключевую роль в
                            создании читаемого, структурированного и эстетически приятного интерфейса, влияет на
                            восприятие бренда и может способствовать его узнаваемости.</span>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Шрифт</h2>
                        <span>Для создания чистого и доступного дизайна мы используем шрифт Montserrat, представляющий
                            собой геометрический гротеск с открытым характером и слегка расширенными пропорциями.
                            Округлая геометрия шрифта добавляет ему игривости, что отлично подчеркивает настроение
                            нашего бренда и делает его идеальным выбором для нашего магазина.</span>
                        <div class="cards">
                            <div class="card card__extraBig">
                                <img src="/images/typography/Font.png" alt="">
                            </div>
                        </div>
                        <span>Шрифт Montserrat помогает нам создать для веб-сайта структурированный, легко читаемый и
                            эстетически привлекательный интерфейс, который прост и удобен в использовании, что в свою
                            очередь способствует созданию положительного пользовательского опыта.</span>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Текстовые стили</h2>
                        <span>Для создания необходимой иерархии в текстовых материалах мы используем различные
                            начертания шрифта, что помогает улучшить читаемость. Благодаря текстовым стилям
                            прослеживается четкая структура, которая способствует более легкому восприятию
                            предоставляемой информации.</span>
                        <div class="cards cards__tiny">
                            <div class="card card__tiny">
                                <img src="/images/typography/Semibold.png" alt="">
                            </div>
                            <div class="card card__tiny">
                                <img src="/images/typography/Regular.png" alt="">
                            </div>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Заголовки</h3>
                            <span>Заголовки играют ключевую роль в создании иерархии в текстовых материалах. Они
                                помогают читателям понять структуру контента и найти необходимую им информацию. Для
                                различных уровней заголовков используются разные размеры шрифта и полужирное
                                начертание.</span>
                        </div>
                        <div class="cards">
                            <div class="card card__extraBig">
                                <img src="/images/typography/Tablet1.png" alt="">
                            </div>
                        </div>
                        <span>Цветовые схемы создают визуальную иерархию и облегчают навигацию. Грамотное их
                            использование может упростить взаимодействие пользователя с интерфейсом, а также
                            улучшить
                            восприятие предоставляемой информации.</span>
                        <div class="text__block text__block_h3">
                            <h3>Основной текст</h3>
                            <span>Для основного текста, используемого для нашего бренда Chutes & Ladders, также
                                применяется шрифт Montserrat, но с начертанием Regular и меньшим размером шрифта и
                                интерлиньяжем по сравнению с заголовками. Для выделения акцентной информации внутри
                                текста может быть использовано начертание Medium. Это обеспечивает высокую читаемость и
                                помогает поддерживать консистентность визуальной идентичности бренда.</span>
                        </div>
                        <div class="cards">
                            <div class="card card__extraBig">
                                <img src="/images/typography/Tablet2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Форматирование</h2>
                        <span>Мы придерживается определенных стандартов форматирования текста, для того чтобы обеспечить
                            не только визуальную привлекательность, но и удобство чтения материала. Для форматирования
                            текста используется верхний и нижний регистр, выравнивание текста. Для выделения ключевой
                            информации может применяется различный цвет, размер или начертание шрифта. При помощи
                            списков и буллетов происходит организация иерархии текста. Все эти аспекты помогают сделать
                            наш контент более понятным и удобным для восприятия.</span>
                        <div class="text__block text__block_h3">
                            <h3>Регистр</h3>
                            <span>Оформлять текст стоит с использованием верхнего и нижнего регистра — как в
                                предложениях. Не стоит использовать все прописные или строчные буквы, это затруднит
                                восприятие и чтение.</span>
                        </div>
                        <div class="cards cards__tiny">
                            <div class="card card__tiny">
                                <img src="/images/typography/Register1.png" alt="">
                            </div>
                            <div class="card card__tiny">
                                <img src="/images/typography/Register2.png" alt="">
                            </div>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Выравнивание</h3>
                            <span>При горизонтальном выравнивании текста в большинстве случаев необходимо придерживаться
                                выравнивания по левому краю для языков с письмом слева направо (LTR), например русского,
                                английского.</span>
                        </div>
                        <div class="cards cards__tiny">
                            <div class="card card__tiny">
                                <img src="/images/typography/Alignment1.png" alt="">
                            </div>
                            <div class="card card__tiny">
                                <img src="/images/typography/Alignment2.png" alt="">
                            </div>
                        </div>
                        <span>Выравнивание по правому краю следует использовать для языков с письмом справа налево,
                            таких как арабский или иврит, или для выделения короткого текстового элемента на LTR языке,
                            например для примечания на полях. Не стоит выравнивать по правому краю длинные блоки текста
                            на LTR языках.
                            <br>
                            <br>
                            Для привлечения внимания к небольшому фрагменту текста или поддержки какого-либо элемента на
                            странице разрешается применять центрирование.</span>
                        <div class="cards">
                            <div class="card card__extraBig">
                                <img src="/images/typography/Alignment3.png" alt="">
                            </div>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Цветовое выделение</h3>
                            <span>Применение цветового выделения может усилить внимание на необходимом текст или же
                                ослабить акцент на нём. Так, при помощи использования цвета можно также структурировать
                                текст, создав визуальную иерархию.</span>
                        </div>
                        <div class="cards">
                            <div class="card card__big">
                                <!-- <img src="/images/typography/Alignment3.png" alt=""> -->
                            </div>
                        </div>
                        <span>Стандартный текст должен иметь коэффициент контрастности на фоне не менее 4,5:1. Большой
                            текст (более 18,5 px в высоту, выделенный жирным шрифтом или 24 px, обычный) должен иметь
                            коэффициент контрастности не менее 3:1. Данные рекомендации соответствуют цветовому
                            контрасту и соображениям доступности.</span>
                        <div class="text__block text__block_h3">
                            <h3>Маркированный список</h3>
                            <span>Маркированный список применяется если все перечисляемые пункты равнозначны. Каждый
                                пункт отмечается маркером — буллетом — и отбивается от левого края. Лучше использовать
                                не стандартный буллет гарнитуры • (не очень явный), а элемент 6х6 px, отбивайте его на
                                16 px. Ставьте перед маркированным списком поясняющий текст и отбивайте его от
                                списка.</span>
                        </div>
                        <div class="cards cards__tiny">
                            <div class="card card__tiny">
                                <img src="/images/typography/Ul-List1.png" alt="">
                            </div>
                            <div class="card card__tiny">
                                <img src="/images/typography/Ul-List2.png" alt="">
                            </div>
                        </div>
                        <div class="text__block text__block_h3">
                            <h3>Нумерованный список</h3>
                            <span>Нумерованный список применяется, когда поочередно необходимо перечислить какую-либо
                                последовательность действий. Пункты списка отмечаются цифрой с точкой. Если в пункте
                                имеется дополнительная последовательность пунктов, они отбиваются от текста и отмечаются
                                буквой со скобкой. Ставьте перед нумерованным списком поясняющий текст и отбивайте его
                                от списка.</span>
                        </div>
                        <div class="cards cards__tiny">
                            <div class="card card__tiny">
                                <img src="/images/typography/Ol-List1.png" alt="">
                            </div>
                            <div class="card card__tiny">
                                <img src="/images/typography/Ol-List2.png" alt="">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="rightSidebar">
                    <ul>
                        <li>Содержание</li>
                        <li>Шрифт</li>
                        <li>Текстовые стили</li>
                        <li>Форматирование</li>
                    </ul>
                </div>
            </main>
            <footer>
                <a href="./colors.html" class="previous">Цвет</a>
                <a href="./geometry.html" class="next">Геометрия</a>
            </footer>
        </div>

    </div>
</body>

</html>