<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHUTES & LADDERS - дизайн система</title>
    <link rel="stylesheet" href="../css/global/global.css">
    <link rel="stylesheet" href="../css/header/header.css">
    <link rel="stylesheet" href="../css/sidebar/sidebar.css">
    <link rel="stylesheet" href="../css/footer/footer.css">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar__left">
            <ul>
                <li>
                    <a href="../index.html">
                        <img src="../images/sidebar/Стартер.svg" alt="">
                        <span>Стартер</span>
                    </a>
                </li>
                <li>
                    <a href="/components/aboutC&L.html">
                        <img src="../images/sidebar/О CL.svg" alt="">
                        <span>O C&L</span>
                    </a>
                </li>
                <li>
                    <a href="/components/RuleBook.html" class="active">
                        <img src="../images/sidebar/Rulebook.svg" alt="">
                        <span>Книга правил</span>
                    </a>
                </li>
                <li>
                    <a href="/components/decoration/review.html">
                        <img src="../images/sidebar/Vector.svg" alt="">
                        <span>Оформление</span>
                    </a>
                </li>
                <li>
                    <a href="/components/components/review.html">
                        <img src="../images/sidebar/Components.svg" alt="">
                        <span>Компоненты</span>
                    </a>
                </li>
                <li>
                    <a href="/components/authors.html">
                        <img src="../images/sidebar/Authors.svg" alt="">
                        <span>Авторы игры</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="container">
            <header class="header header__about">
                <p class="title">RuleBook</p>
                <span>Руководство, необходимое для начала и дальнейшей «игры» — использования нашей дизайн-системы в
                    собственных проектах.</span>
            </header>
            <main>
                <div class="main__content">
                    <div class="text__block text__block_h1">
                        <h1>Книга правил</h1>
                        <span>Руководство, необходимое для начала и дальнейшей «игры» — использования нашей
                            дизайн-системы в проектах. Здесь собраны и представлены основные принципы и правила работы с
                            C&L, которые помогут наладить процесс работы и взаимодействия друг с другом дизайнеров,
                            разработчиков и клиентов, сделав его более слаженным и приятным.</span>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Часть 1. Компоненты</h2>
                        <span>Наша дизайн-система включает всё необходимое как для начинающего, так и для
                            профессионального “игрока”. C&L будет понятна как junior-дизайнеру так и senior-у.</span>
                        <div class="cards">
                            <div class="card card__extraBig">
                                <img src="/images/ruleBook/Components.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Часть 2. Гайдлайны</h2>
                        <span>Соблюдай правила и возможности компонентов дизайн-системы, чтобы избежать недопонимания с
                            разработчиками. Гайдлайны помогут всем быть на одной волне и избежать лишних проблем в
                            процессе работы.</span>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Часть 3. Изменения при необходимости</h2>
                        <span>Не вноси изменения в компоненты дизайн-системы без крайней необходимости, чтобы избежать
                            дополнительной работы разработчиков и проблем с обратной совместимостью. Лучше сразу
                            обсудить и принять изменения с командой.</span>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Часть 4. Состояния компонента</h2>
                        <span>Покажи все состояния элементов интерфейса, чтобы разработчики могли правильно настроить их
                            работу. Продумай поведение компонента и интерфейса при интерактиве: в случае загрузки
                            контента, уведомлений или же ошибок. Это поможет избежать недопониманий и ускорит процесс
                            разработки.</span>
                        <div class="cards">
                            <div class="card card__extraBig">
                                <img src="/images/ruleBook/Сonditions.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Часть 5. Игровой сценарий</h2>
                        <div class="text__block text__block_h3">
                            <span>Создавай сценарии, которые будут понятны и читаемы для разработчиков, чтобы избежать
                                лишних вопросов и недопониманий. Четкое описание поможет всем быть на одной
                                волне.</span>
                            <ul class="list_stylish">
                                <li>Не забывай про структурирование информации — название страниц и слоев, и при
                                    необходимости в сложных местах оставляй заметки и комментарии для разработчика.</li>
                                <li>Следи за тем, чтобы в макете не было лишних элементов. Отмечай актуальные и
                                    неактуальные
                                    макеты и сценарии с помощью статусов, чтобы указать их состояние.</li>
                                <li>Покажи связи в пользовательском флоу с помощью стрелок, чтобы проиллюстрировать
                                    состояние интерфейса после действий пользователя.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Часть 6. Вектор</h2>
                        <span>Заменяй растровые изображения на векторные, для того. чтобы упростить работу разработчиков
                            и улучшить производительность сайта. Это сэкономит время и уменьшит объем файлов.</span>
                        <div class="cards cards__tiny">
                            <div class="card card__tiny card__tiny_auto">
                                <img src="/images/ruleBook/Vector1.png" alt="">
                            </div>
                            <div class="card card__tiny card__tiny_auto">
                                <img src="/images/ruleBook/Vector2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Часть 7. Автолэйаут и адаптивность</h2>
                        <span>Используй максимум автолэйаутов и минимум брейкпойнтов для адаптивности и резиновости
                            интерфейса. Это поможет сделать сайт удобным для пользователей, независимо от
                            устройства.</span>
                        <div class="cards">
                            <div class="card card__extraBig">
                                <img src="/images/ruleBook/Autolayout.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Часть 8. Система отступов</h2>
                        <span>Согласуй систему отступов с разработчиками и придерживайся её во всех сценариях. Это
                            поможет сохранить единый стиль интерфейса и упростит процесс разработки.</span>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Часть 9. Целые значения</h2>
                        <span>Используй целые значения размеров, чтобы избежать проблем с вёрсткой. Так можно избежать
                            непредвиденных ошибок в отображении элементов интерфейса.</span>
                        <div class="cards cards__tiny">
                            <div class="card card__tiny card__tiny_auto">
                                <img src="/images/ruleBook/Abs1.png" alt="">
                            </div>
                            <div class="card card__tiny card__tiny_auto">
                                <img src="/images/ruleBook/Abs2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Часть 10. Длинные слова</h2>
                        <span>Не забывай про существование длинных слов! Для них тоже нужно предусмотреть место в
                            интерфейсе, чтобы избежать проблем с вёрсткой и все элементы интерфейса отображались
                            корректно с реальными данными.</span>
                        <div class="cards cards__tiny">
                            <div class="card card__tiny card__tiny_auto">
                                <img src="/images/ruleBook/Long1.png" alt="">
                            </div>
                            <div class="card card__tiny card__tiny_auto">
                                <img src="/images/ruleBook/Long2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Часть 11. Стиль и текстовый блок</h2>
                        <span>При оформлении текста используй один стиль для одного текстового блока, чтобы избежать
                            смешивания разных стилей. Помни, что, например, заголовок и основной текст должны находиться
                            в разных текстовых блоках!</span>
                        <div class="cards cards__tiny">
                            <div class="card card__tiny card__tiny_auto">
                                <img src="/images/ruleBook/Style1.png" alt="">
                            </div>
                            <div class="card card__tiny card__tiny_auto">
                                <img src="/images/ruleBook/Style2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="text__block text__block_h2">
                        <h2>Часть 12. Сотрудничество</h2>
                        <span>Не забывай про других игроков! Включай разработчиков в процесс обсуждения макетов и
                            общайся с ними, чтобы избежать проблем в реализации дизайна. Приглашай разработчиков на
                            ревью дизайна и предупреждай их об изменениях в макетах. Сотрудничество и постоянная
                            коммуникация помогут избежать проблем!</span>
                            <div class="cards">
                                <div class="card card__extraBig">
                                    <img src="/images/ruleBook/Cooperation.png" alt="">
                                </div>
                            </div>
                    </div>
                </div>

                <div class="rightSidebar">
                    <ul>
                        <li>Содержание</li>
                        <li>Часть 1 - 3</li>
                        <li>Часть 4 - 5</li>
                        <li>Часть 6 - 7</li>
                        <li>Часть 8 - 10</li>
                        <li>Часть 11 - 12</li>
                    </ul>
                </div>
            </main>
            <footer>
                <a href="/components/aboutC&L.html" class="previous">О C&L</a>
                <a href="./decoration/review.html" class="next">Оформление</a>
            </footer>
        </div>

    </div>
</body>

</html>